.footer {
  display: flex;
  flex-wrap: wrap;
}
.main-pages {
    border: 3px solid rgb(77, 162, 179);
  background-color: rgb(235, 235, 235);
    width: 800px;
  height: 450px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 40px;
}
.main-pages-news {
}

#calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  width: 290px;
  background-color: rgb(42, 42, 42);
  padding: 10px 10px 10px 10px;
  border-radius: 0 0 20px 20px;
}

.day {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
  background-color: rgb(42, 42, 42);
  color: #b8b8b8;
}

.day:hover {
  background-color: #b8b8b8;
  color: rgb(42, 42, 42);
}

.today {
  background-color: rgb(0, 116, 248);
  color: white;
}

.month {
  font-size: 24px;
  width: 290px;
  background-color: rgb(42, 42, 42);
  color: #b8b8b8;
  display: flex;
  justify-content: center;
}

.time {
  font-size: 18px;
  margin-top: 20px;
  width: 290px;
  background-color: rgb(42, 42, 42);
  color: #b8b8b8;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-radius: 20px 20px 0 0;
}

.footer-news-list {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news-his-title {
  color: #2020c5;
  text-shadow: 2px 1.5px 0px rgba(193, 222, 235, 0.8);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #065a76;
  font-family: Mulish;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.75px;
}
.news-his-list {
  border: 3px solid rgb(77, 162, 179);
  background-color: rgb(235, 235, 235);
    width: 290px;
  height: 290px;
  border-radius: 10px;
}
