#calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    width: 290px;
    background-color: gray;
    padding: 10px 10px 10px 10px;
}

.day {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
    background-color: gray;
}

.day:hover {
    background-color: #f0f0f0;
}

.today {
    background-color: rgb(0, 116, 248);
    color: white;
}

.month {
    font-size: 24px;
    width: 290px;
    background-color: gray;
}

.time {
    font-size: 18px;
    margin-top: 20px;
    width: 290px;
    background-color: gray;
}