.header {
  display: flex;
  padding: 50px 50px 0px 10px;
}
.header-logo {
  margin-right: 68px;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header-title {
  color: #ff1919;
  text-align: center;
  text-shadow: 2px 1.5px 0px rgba(193, 222, 235, 0.8);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #065a76;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.header-mind-hero {
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #065a76;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #cd370e 0.01%, #000 79.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-description {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-shadow: 2px 1.5px 0px rgba(193, 222, 235, 0.8);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #065a76;
  font-family: Mulish;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.05px;
  text-transform: uppercase;
}
.marquee {
  width: 100%;
  padding: 25px 0;
  overflow: hidden;
  position: relative;
}

.marquee span {
  position: absolute;
  top: 0;
  white-space: nowrap;
  animation: scrollText 10s linear infinite;
  color: #ff1919;
  text-align: center;
  text-shadow: 2px 1.5px 0px rgba(193, 222, 235, 0.8);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #065a76;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.2px;
}

@keyframes scrollText {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
.marquee span:nth-child(2) {
  animation-delay: -5s;
}
